In [45]:
import sklearn as sk 
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

print("the version of sklearn is {}".format(sk.__version__))
print("the version of pandas is {}".format(pd.__version__))

the version of sklearn is 0.22.2.post1
the version of pandas is 1.0.3

In [7]:
# import the data
titanic_df = pd.read_csv("../../../Datasets/Kaggle/Competitions/Titanic/train.csv")

titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [25]:
# get the features and labels
X = titanic_df.drop(['Survived', 'Name', 'Cabin', 'Embarked', 'Ticket'], axis=1)
X = pd.get_dummies(X)
X = X.fillna(X.mean())
y = titanic_df['Survived']

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Age          891 non-null    float64
 3   SibSp        891 non-null    int64
 4   Parch        891 non-null    int64
 5   Fare         891 non-null    float64
 6   Sex_female   891 non-null    uint8
 7   Sex_male     891 non-null    uint8
dtypes: float64(2), int64(4), uint8(2)
memory usage: 43.6 KB

In [26]:
X.head(10)

   PassengerId  Pclass        Age  SibSp  Parch     Fare  Sex_female  Sex_male
0            1       3  22.000000      1      0   7.2500           0         1
1            2       1  38.000000      1      0  71.2833           1         0
2            3       3  26.000000      0      0   7.9250           1         0
3            4       1  35.000000      1      0  53.1000           1         0
4            5       3  35.000000      0      0   8.0500           0         1
5            6       3  29.699118      0      0   8.4583           0         1
6            7       1  54.000000      0      0  51.8625           0         1
7            8       3   2.000000      3      1  21.0750           0         1
8            9       3  27.000000      0      2  11.1333           1         0
9           10       2  14.000000      1      0  30.0708           1         0

In [12]:
y.head(5)

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [13]:
# log
print("the fetures are of shape {} and the labels are of shape {}".format(X.shape, y.shape))

the fetures are of shape (891, 11) and the labels are of shape (891,)

In [27]:
# create the model and fit the data
clasifier = RandomForestClassifier(random_state=0, n_estimators=100)

clasifier.fit(X, y)
print("the model is of type {}".format(clasifier.__class__.__name__))

the model is of type RandomForestClassifier

In [31]:
# get the feature rankings
feature_inportance = clasifier.feature_importances_
feature_names = list(X.columns.values)

print("the feature names are {}".format(feature_names))

the feature names are ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male']

In [43]:
# zip the data
zipped = zip(feature_inportance, feature_names)

print("the zipped features are {}".format(zipped))

the zipped features are <zip object at 0x7fd2c1bee640>

In [44]:
# sort the feature im;ortances
features_sorted = sorted(zipped, reverse=True)

for i, row in enumerate(features_sorted):
    print("the feature is {}".format(row))

the feature is (0.20166896563029998, 'Fare')
the feature is (0.20092813445500687, 'PassengerId')
the feature is (0.16893080157404036, 'Age')
the feature is (0.13855389272978433, 'Sex_female')
the feature is (0.1384837705961344, 'Sex_male')
the feature is (0.07763244697092184, 'Pclass')
the feature is (0.041572434705067766, 'SibSp')
the feature is (0.032229553338744485, 'Parch')

In [46]:
# scale the features
scaler = MinMaxScaler().fit(X)

X_scaled = pd.DataFrame(scaler.transform(X))

X_scaled.head(10)

          0    1         2      3         4         5    6    7
0  0.000000  1.0  0.271174  0.125  0.000000  0.014151  0.0  1.0
1  0.001124  0.0  0.472229  0.125  0.000000  0.139136  1.0  0.0
2  0.002247  1.0  0.321438  0.000  0.000000  0.015469  1.0  0.0
3  0.003371  0.0  0.434531  0.125  0.000000  0.103644  1.0  0.0
4  0.004494  1.0  0.434531  0.000  0.000000  0.015713  0.0  1.0
5  0.005618  1.0  0.367921  0.000  0.000000  0.016510  0.0  1.0
6  0.006742  0.0  0.673285  0.000  0.000000  0.101229  0.0  1.0
7  0.007865  1.0  0.019854  0.375  0.166667  0.041136  0.0  1.0
8  0.008989  1.0  0.334004  0.000  0.333333  0.021731  1.0  0.0
9  0.010112  0.5  0.170646  0.125  0.000000  0.058694  1.0  0.0

In [47]:
# compare to X
X.head(10)

   PassengerId  Pclass        Age  SibSp  Parch     Fare  Sex_female  Sex_male
0            1       3  22.000000      1      0   7.2500           0         1
1            2       1  38.000000      1      0  71.2833           1         0
2            3       3  26.000000      0      0   7.9250           1         0
3            4       1  35.000000      1      0  53.1000           1         0
4            5       3  35.000000      0      0   8.0500           0         1
5            6       3  29.699118      0      0   8.4583           0         1
6            7       1  54.000000      0      0  51.8625           0         1
7            8       3   2.000000      3      1  21.0750           0         1
8            9       3  27.000000      0      2  11.1333           1         0
9           10       2  14.000000      1      0  30.0708           1         0

In [52]:
# create the model and fit the data
clasifier2 = RandomForestClassifier(random_state=0, n_estimators=100)

clasifier2.fit(X_scaled, y)
print("the model is of type {}".format(clasifier.__class__.__name__))

the model is of type RandomForestClassifier

In [53]:
# get the feature rankings
feature_inportance = clasifier2.feature_importances_
feature_names = list(X.columns.values)

print("the feature names are {}".format(feature_names))

the feature names are ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male']

In [54]:
# zip the data
zipped = zip(feature_inportance, feature_names)

# sort the feature im;ortances
features_sorted = sorted(zipped, reverse=True)

for i, row in enumerate(features_sorted):
    print("the feature is {}".format(row))

the feature is (0.20166896563029998, 'Fare')
the feature is (0.20092813445500687, 'PassengerId')
the feature is (0.16893080157404036, 'Age')
the feature is (0.13855389272978433, 'Sex_female')
the feature is (0.1384837705961344, 'Sex_male')
the feature is (0.07763244697092184, 'Pclass')
the feature is (0.041572434705067766, 'SibSp')
the feature is (0.032229553338744485, 'Parch')