In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

# Any results you write to the current directory are saved as output.

In [5]:
# set the root data directory
root_data_dir = '/Users/mduby/Data/Kaggle/Roche/'
# root_data_dir = '/kaggle/input/covid19-global-forecasting-week-2'

# load the files

for dirname, _, filenames in os.walk(root_data_dir):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/mduby/Data/Kaggle/Roche/zinterst.txt
/Users/mduby/Data/Kaggle/Roche/covid_19_canada_open_data_working_group/public-covid-19-cases-canada.csv
/Users/mduby/Data/Kaggle/Roche/New_York_Times/covid-19-county-level-data.csv
/Users/mduby/Data/Kaggle/Roche/New_York_Times/covid-19-state-level-data.csv
/Users/mduby/Data/Kaggle/Roche/esri_covid-19/esri_covid-19/definitive-healthcare-usa-hospital-beds.csv
/Users/mduby/Data/Kaggle/Roche/esri_covid-19/esri_covid-19/coronavirus-world-airport-impacts.csv
/Users/mduby/Data/Kaggle/Roche/esri_covid-19/esri_covid-19/cdcs-social-vulnerability-index-svi-2016-overall-svi-census-tract-level.csv
/Users/mduby/Data/Kaggle/Roche/esri_covid-19/esri_covid-19/cdphe-health-facilities.csv
/Users/mduby/Data/Kaggle/Roche/esri_covid-19/esri_covid-19/cdcs-social-vulnerability-index-svi-2016-overall-svi-county-level.csv
/Users/mduby/Data/Kaggle/Roche/geotab/border-wait-times-at-us-canada-border.csv
/Users/mduby/Data/Kaggle/Roche/un_world_food_programme/un_world_food_programme/world-travel-restrictions.csv
/Users/mduby/Data/Kaggle/Roche/ECDC/current-data-on-the-geographic-distribution-of-covid-19-cases-worldwide.csv
/Users/mduby/Data/Kaggle/Roche/coders_against_covid/crowd-sourced-covid-19-testing-locations.csv
/Users/mduby/Data/Kaggle/Roche/worldometer/worldometer-confirmed-cases-and-deaths-by-country-territory-or-conveyance.csv
/Users/mduby/Data/Kaggle/Roche/nextstrain/covid-19-genetic-phylogeny.csv
/Users/mduby/Data/Kaggle/Roche/harvard_global_health_institute/hospital-capacity-by-state-20-population-contracted.csv
/Users/mduby/Data/Kaggle/Roche/harvard_global_health_institute/hospital-capacity-by-state-40-population-contracted.csv
/Users/mduby/Data/Kaggle/Roche/harvard_global_health_institute/hospital-capacity-by-state-60-population-contracted.csv
/Users/mduby/Data/Kaggle/Roche/OpenTable/restaurant-performance-city.csv
/Users/mduby/Data/Kaggle/Roche/OpenTable/restaurant-performance-state.csv
/Users/mduby/Data/Kaggle/Roche/OpenTable/restaurant-performance.csv
/Users/mduby/Data/Kaggle/Roche/OpenTable/restaurant-performance-country.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracking_project/covid-statistics-for-all-us-daily-updates.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracking_project/covid-sources-for-us-states.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracking_project/covid-statistics-by-us-states-daily-updates.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracking_project/covid-sources-for-counties.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracking_project/covid-statistics-for-all-us-totals.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracking_project/covid-statistics-by-us-states-totals.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/physicians-per-1-000-people.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/environment-social-and-governance-data.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/health-population-health-nutrition-population.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/specialist-surgical-workforce-per-100-000-population.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/smoking-prevalence-total-ages-15.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/international-debt.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/people-with-basic-handwashing-facilities-including-soap-and-water-of-population.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/global-population.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/world-development-indicators-country-summary.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/community-health-workers-per-1-000-people.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/hospital-beds-per-1-000-people.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/nurses-and-midwives-per-1-000-people.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/health-population-country-summary.csv
/Users/mduby/Data/Kaggle/Roche/world_bank/climate-change.csv
/Users/mduby/Data/Kaggle/Roche/ihme/2020_03_30/Hospitalization_all_locs.csv
/Users/mduby/Data/Kaggle/Roche/ihme/2020_03_30/IHME_COVID_19_Data_Release_Information_Sheet_II.pdf
/Users/mduby/Data/Kaggle/Roche/github/covid19-epidemic-french-national-data.csv
/Users/mduby/Data/Kaggle/Roche/github/covid-19-italy-situation-monitoring-by-region.csv
/Users/mduby/Data/Kaggle/Roche/github/cases-and-deaths-by-regions-in-belgium.csv
/Users/mduby/Data/Kaggle/Roche/github/covid-19-uk-historical-data.csv
/Users/mduby/Data/Kaggle/Roche/github/covid19-spain-cases.csv
/Users/mduby/Data/Kaggle/Roche/our_world_in_data/tests-conducted-vs-total-confirmed-cases-of-covid-19.csv
/Users/mduby/Data/Kaggle/Roche/our_world_in_data/total-covid-19-tests-performed-per-million-people.csv
/Users/mduby/Data/Kaggle/Roche/our_world_in_data/total-covid-19-tests-performed-by-country.csv
/Users/mduby/Data/Kaggle/Roche/our_world_in_data/per-million-people-tests-conducted-vs-total-confirmed-cases-of-covid-19.csv
/Users/mduby/Data/Kaggle/Roche/WHO/who-situation-reports-covid-19.csv
/Users/mduby/Data/Kaggle/Roche/WHO/tuberculosis-case-notifications.csv
/Users/mduby/Data/Kaggle/Roche/county_health_rankings/county_health_rankings/us-county-health-rankings-2020.csv
/Users/mduby/Data/Kaggle/Roche/us_cdc/us_cdc/global-tobacco-surveillance-system-gtss-global-youth-tobacco-survey-gyts.csv
/Users/mduby/Data/Kaggle/Roche/us_cdc/us_cdc/500-cities-census-tract-level-data-gis-friendly-format-2019-release.csv
/Users/mduby/Data/Kaggle/Roche/us_cdc/us_cdc/u-s-chronic-disease-indicators-cdi.csv
/Users/mduby/Data/Kaggle/Roche/us_cdc/us_cdc/nutrition-physical-activity-and-obesity-behavioral-risk-factor-surveillance-system.csv
/Users/mduby/Data/Kaggle/Roche/us_cdc/us_cdc/global-tobacco-surveillance-system-gtss-global-adult-tobacco-survey-gats.csv
/Users/mduby/Data/Kaggle/Roche/HDE/acaps-covid-19-government-measures-dataset.csv
/Users/mduby/Data/Kaggle/Roche/HDE/global-school-closures-covid-19.csv
/Users/mduby/Data/Kaggle/Roche/HDE/inform-covid-indicators.csv
/Users/mduby/Data/Kaggle/Roche/HDE/total-covid-19-tests-performed-by-country.csv
/Users/mduby/Data/Kaggle/Roche/USAFacts/confirmed-covid-19-cases-in-us-by-state-and-county.csv
/Users/mduby/Data/Kaggle/Roche/USAFacts/confirmed-covid-19-deaths-in-us-by-state-and-county.csv
/Users/mduby/Data/Kaggle/Roche/covid_tracker_canada/covid-19-tracker-canada.csv
/Users/mduby/Data/Kaggle/Roche/johns_hopkins/johns-hopkins-covid-19-daily-dashboard-cases-by-country.csv
/Users/mduby/Data/Kaggle/Roche/johns_hopkins/johns-hopkins-covid-19-daily-dashboard-cases-over-time.csv
/Users/mduby/Data/Kaggle/Roche/johns_hopkins/johns-hopkins-covid-19-daily-dashboard-cases.csv
/Users/mduby/Data/Kaggle/Roche/johns_hopkins/johns-hopkins-covid-19-daily-dashboard-cases-by-states.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/local-emergency-operations-centers-eoc.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/urgent-care-facilities.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/us-ports-of-entry.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/nursing-homes.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/public-health-departments.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/aircraft-landing-facilities.csv
/Users/mduby/Data/Kaggle/Roche/hifld/hifld/hospitals.csv

In [13]:
# load dataset and describe
df_try = pd.read_csv(root_data_dir + "johns_hopkins/johns-hopkins-covid-19-daily-dashboard-cases-over-time.csv")

# describe
print("describe the dataset")
df_try.describe()

describe the dataset

,confirmed,deaths,recovered,active,delta_confirmed,delta_recovered
count,12282.000000,12282.000000,0.0,0.0,12282.000000,0.0
mean,793.591272,31.907670,NaN,NaN,63.700130,NaN
std,6663.723884,347.774493,NaN,NaN,598.337188,NaN
min,0.000000,0.000000,NaN,NaN,-15.000000,NaN
25%,0.000000,0.000000,NaN,NaN,0.000000,NaN
50%,0.000000,0.000000,NaN,NaN,0.000000,NaN
75%,11.000000,0.000000,NaN,NaN,1.000000,NaN
max,161807.000000,11591.000000,NaN,NaN,20921.000000,NaN

In [14]:
# list columns
print("the columns are: {}".format(df_try.columns))

the columns are: Index(['country_region', 'last_update', 'confirmed', 'deaths', 'recovered',
       'active', 'delta_confirmed', 'delta_recovered'],
      dtype='object')

In [15]:
# load the dataset and describe
file_path = "ECDC/current-data-on-the-geographic-distribution-of-covid-19-cases-worldwide.csv"
df_try = pd.read_csv(root_data_dir + file_path)

# describe
print("describe the dataset")
df_try.describe()

describe the dataset

,day,month,year,cases,deaths,popdata2018
count,7904.000000,7904.000000,7904.000000,7904.000000,7904.000000,7.888000e+03
mean,17.801240,2.304909,2019.991523,98.405617,4.715587,6.892717e+07
std,8.721968,1.224986,0.091684,737.889417,42.903044,2.099202e+08
min,1.000000,1.000000,2019.000000,-9.000000,0.000000,1.000000e+03
25%,11.000000,1.000000,2020.000000,0.000000,0.000000,4.137309e+06
50%,19.000000,2.000000,2020.000000,0.000000,0.000000,1.062716e+07
75%,25.000000,3.000000,2020.000000,7.000000,0.000000,4.672375e+07
max,31.000000,12.000000,2020.000000,21595.000000,971.000000,1.392730e+09

In [16]:
# list columns
print("the columns are: {}".format(df_try.columns))

the columns are: Index(['daterep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesandterritories', 'geoid', 'countryterritorycode',
       'popdata2018'],
      dtype='object')

In [17]:
# head the file
df_try.head(10)

,daterep,day,month,year,cases,deaths,countriesandterritories,geoid,countryterritorycode,popdata2018
0,2020-03-31,31,3,2020,27,0,Afghanistan,AF,AFG,37172386.0
1,2020-03-30,30,3,2020,8,1,Afghanistan,AF,AFG,37172386.0
2,2020-03-29,29,3,2020,15,1,Afghanistan,AF,AFG,37172386.0
3,2020-03-28,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
4,2020-03-27,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
5,2020-03-26,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
6,2020-03-25,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
7,2020-03-24,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
8,2020-03-23,23,3,2020,10,0,Afghanistan,AF,AFG,37172386.0
9,2020-03-22,22,3,2020,0,0,Afghanistan,AF,AFG,37172386.0

In [18]:
# load the dataset and describe
file_path = "HDE/total-covid-19-tests-performed-by-country.csv"
df_try = pd.read_csv(root_data_dir + file_path)

# describe
print("describe the dataset")
df_try.describe()

describe the dataset

            year  total_covid_19_tests
count  77.000000             77.000000
mean   56.506494          30387.961039
std     4.229045          61674.895578
min    34.000000            222.000000
25%    56.000000           2504.000000
50%    58.000000           8603.000000
75%    59.000000          19337.000000
max    59.000000         320000.000000

In [19]:
# head the file
df_try.head(10)

                                     entity code  year  total_covid_19_tests
0                                   Armenia  ARM    57                   813
1                                 Australia  AUS    59                113615
2  Australia - Australian Capital Territory  NaN    59                  2062
3               Australia - New South Wales  NaN    58                 39089
4                    Australia - Queensland  NaN    58                 27000
5               Australia - South Australia  NaN    59                 16717
6                      Australia - Tasmania  NaN    58                   807
7                      Australia - Victoria  NaN    58                 19337
8             Australia - Western Australia  NaN    58                  8603
9                                   Austria  AUT    59                 15613

In [20]:
# load the dataset and describe
file_path = "WHO/who-situation-reports-covid-19.csv"
df_try = pd.read_csv(root_data_dir + file_path)

# describe
print("describe the dataset")
df_try.describe()

describe the dataset

,new_confirmed_cases,total_deaths,new_total_deaths,total_cases_with_travel_history_to_china,new_cases_with_travel_history_to_china,new_cases_with_possible_or_confirmed_transmission_outside_china,total_cases_with_site_of_transmission_under_investigation,new_cases_with_site_of_transmission_under_investigation,place_of_exposure_in_china_cases,place_of_exposure_outside_reporting_country_and_china_cases,...,place_of_exposure_in_reporting_country_cases_new,suspected_cases,daily_suspected_cases,daily_lab_confirmed_cases,daily_total_cases,cumulative_total_cases,cumulative_deaths,days_since_last_reported,who_region,population
count,6029.000000,6109.000000,5980.000000,399.000000,340.000000,338.000000,120.000000,53.000000,287.000000,286.000000,...,287.000000,986.000000,102.000000,102.000000,0.0,0.0,0.0,4331.000000,0.0,1122.000000
mean,144.483662,57.638075,5.466555,6.265664,0.138235,0.428994,5.133333,2.037736,5.560976,2.174825,...,2.076655,29.817444,65.147059,45.343137,NaN,NaN,NaN,1.538444,NaN,4200.676471
std,1421.790790,447.173923,45.221386,7.078852,0.422463,1.417144,49.468254,12.122710,7.684942,5.789058,...,12.880613,370.054049,192.011468,229.976344,NaN,NaN,NaN,4.944083,NaN,2901.847610
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,66.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.000000,1.000000,NaN,NaN,NaN,0.000000,NaN,2359.000000
50%,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,...,0.000000,0.000000,18.500000,4.000000,NaN,NaN,NaN,0.000000,NaN,3745.500000
75%,14.000000,2.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,7.500000,2.000000,...,0.000000,4.000000,48.750000,11.000000,NaN,NaN,NaN,1.000000,NaN,5917.000000
max,56249.000000,10781.000000,971.000000,26.000000,3.000000,11.000000,542.000000,88.000000,28.000000,43.000000,...,130.000000,11295.000000,1216.000000,1728.000000,NaN,NaN,NaN,59.000000,NaN,11346.000000

In [21]:
# list the columns
print("the columns are: {}".format(df_try.columns))

the columns are: Index(['reported_date', 'reporting_country_territory', 'province_city',
       'confirmed_cases', 'new_confirmed_cases', 'total_deaths',
       'new_total_deaths', 'transmission_classification',
       'total_cases_with_travel_history_to_china',
       'new_cases_with_travel_history_to_china',
       'total_cases_with_possible_or_confirmed_transmission_outside_china',
       'new_cases_with_possible_or_confirmed_transmission_outside_china',
       'total_cases_with_site_of_transmission_under_investigation',
       'new_cases_with_site_of_transmission_under_investigation',
       'place_of_exposure_in_china_cases',
       'place_of_exposure_in_china_cases_new',
       'place_of_exposure_outside_reporting_country_and_china_cases',
       'place_of_exposure_outside_reporting_country_and_china_cases_new',
       'place_of_exposure_in_reporting_country_cases',
       'place_of_exposure_in_reporting_country_cases_new', 'suspected_cases',
       'daily_suspected_cases', 'daily_lab_confirmed_cases',
       'daily_clinically_diagnosed_cases', 'daily_total_cases',
       'cumulative_total_cases', 'cumulative_lab_confirmed_cases',
       'cumulative_clinically_diagnosed_cases', 'cumulative_deaths',
       'days_since_last_reported', 'who_region', 'population', 'report_url'],
      dtype='object')

In [22]:
# load the dataset and describe
file_path = "esri_covid-19/esri_covid-19/coronavirus-world-airport-impacts.csv"
df_try = pd.read_csv(root_data_dir + file_path)

# describe
print("describe the dataset")
df_try.describe()

describe the dataset

        latitude_d    longitude    objectid
count  3080.000000  3080.000000  3080.00000
mean     25.337862     8.738401  1540.50000
std      27.463435    85.606109   889.26374
min     -54.843300  -178.065994     1.00000
25%       8.601878   -73.677076   770.75000
50%      31.960100    13.125000  1540.50000
75%      45.751551    77.576925  2310.25000
max      78.246101   179.339996  3080.00000

In [23]:
df_try.head(10)

,geometry,ident,type,name,latitude_d,longitude,elevation,continent,iso_countr,iso_region,municipali,scheduled,gps_code,iata_code,status,objectid
0,POINT (-76.5008 0.505228),SKAS,medium_airport,Tres De Mayo Airport,0.505228,-76.5008,815,South America,CO,CO-PUT,Puerto Asís,yes,SKAS,PUU,NaN,3001
1,POINT (-73.1848 7.1265),SKBG,medium_airport,Palonegro Airport,7.126500,-73.1848,3897,South America,CO,CO-SAN,Bucaramanga,yes,SKBG,BGA,NaN,3002
2,POINT (-74.1469 4.70159),SKBO,large_airport,El Dorado International Airport,4.701590,-74.1469,8361,South America,CO,CO-CUN,Bogota,yes,SKBO,BOG,Restrictions,3003
3,POINT (-74.7808 10.8896),SKBQ,medium_airport,Ernesto Cortissoz International Airport,10.889600,-74.7808,98,South America,CO,CO-ATL,Barranquilla,yes,SKBQ,BAQ,Restrictions,3004
4,POINT (-77.3947 6.20292),SKBS,medium_airport,José Celestino Mutis Airport,6.202920,-77.3947,80,South America,CO,CO-CHO,Bahía Solano,yes,SKBS,BSC,NaN,3005
5,POINT (-76.9898 3.81963),SKBU,medium_airport,Gerardo Tobar López Airport,3.819630,-76.9898,48,South America,CO,CO-VAC,Buenaventura,yes,SKBU,BUN,NaN,3006
6,POINT (-72.5115 7.92757),SKCC,medium_airport,Camilo Daza International Airport,7.927570,-72.5115,1096,South America,CO,CO-NSA,Cúcuta,yes,SKCC,CUC,Restrictions,3007
7,POINT (-75.513 10.4424),SKCG,medium_airport,Rafael Nuñez International Airport,10.442400,-75.5130,4,South America,CO,CO-BOL,Cartagena,yes,SKCG,CTG,Restrictions,3008
8,POINT (-76.3816 3.54322),SKCL,medium_airport,Alfonso Bonilla Aragon International Airport,3.543220,-76.3816,3162,South America,CO,CO-VAC,Cali,yes,SKCL,CLO,Restrictions,3009
9,POINT (-78.7492 1.81442),SKCO,medium_airport,La Florida Airport,1.814420,-78.7492,8,South America,CO,CO-NAR,Tumaco,yes,SKCO,TCO,NaN,3010

In [24]:
df_try.columns

Index(['geometry', 'ident', 'type', 'name', 'latitude_d', 'longitude',
       'elevation', 'continent', 'iso_countr', 'iso_region', 'municipali',
       'scheduled', 'gps_code', 'iata_code', 'status', 'objectid'],
      dtype='object')