In [1]:
# imports
import numpy as np
import pandas as pd

In [4]:
# load the cases data
file_cases = "/Users/mduby/Data/Kaggle/Roche/USAFacts/confirmed-covid-19-cases-in-us-by-state-and-county.csv"

# load the data frame
df_cases = pd.read_csv(file_cases)

df_cases.head()

,county_fips,county_name,state_name,state_fips,date,confirmed,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN

In [6]:
# describe the cases data
df_cases.describe()

,county_fips,state_fips,confirmed,lat,long
count,220455.000000,220455.000000,220455.000000,216798.000000,216798.000000
mean,29882.220970,30.250391,4.116817,38.455613,-92.268406
std,15522.084821,15.157649,103.645501,5.307126,12.860440
min,0.000000,1.000000,0.000000,19.601212,-164.035380
25%,18097.000000,18.000000,0.000000,34.693167,-98.238509
50%,29123.000000,29.000000,0.000000,38.378924,-90.400244
75%,45055.000000,45.000000,0.000000,41.809386,-83.436796
max,56045.000000,56.000000,12756.000000,69.314792,-67.628135

In [5]:
# load the deaths data
file_deaths = "/Users/mduby/Data/Kaggle/Roche/USAFacts/confirmed-covid-19-deaths-in-us-by-state-and-county.csv"

# load the data frame
df_death = pd.read_csv(file_cases)

df_death.head()

,county_fips,county_name,state_name,state_fips,date,confirmed,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN