In [1]:
# imports
import numpy as np
import pandas as pd

In [4]:
# load the cases data
file_cases = "/Users/mduby/Data/Kaggle/Roche/USAFacts/confirmed-covid-19-cases-in-us-by-state-and-county.csv"

# load the data frame
df_cases = pd.read_csv(file_cases)

df_cases.head()

,county_fips,county_name,state_name,state_fips,date,confirmed,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN

In [8]:
# describe the cases data
df_cases.describe()

,county_fips,state_fips,confirmed,lat,long
count,220455.000000,220455.000000,220455.000000,216798.000000,216798.000000
mean,29882.220970,30.250391,4.116817,38.455613,-92.268406
std,15522.084821,15.157649,103.645501,5.307126,12.860440
min,0.000000,1.000000,0.000000,19.601212,-164.035380
25%,18097.000000,18.000000,0.000000,34.693167,-98.238509
50%,29123.000000,29.000000,0.000000,38.378924,-90.400244
75%,45055.000000,45.000000,0.000000,41.809386,-83.436796
max,56045.000000,56.000000,12756.000000,69.314792,-67.628135

In [13]:
# group by countym state
df_cases_groupby = df_cases.groupby(['county_name', 'state_name'])
df_cases_groupby.describe()

                            county_fips                                  \
                                  count     mean  std      min      25%
county_name      state_name
Abbeville County SC                69.0  45001.0  0.0  45001.0  45001.0
Acadia Parish    LA                69.0  22001.0  0.0  22001.0  22001.0
Accomack County  VA                69.0  51001.0  0.0  51001.0  51001.0
Ada County       ID                69.0  16001.0  0.0  16001.0  16001.0
Adair County     IA                69.0  19001.0  0.0  19001.0  19001.0
...                                 ...      ...  ...      ...      ...
Yuma County      AZ                69.0   4027.0  0.0   4027.0   4027.0
                 CO                69.0   8125.0  0.0   8125.0   8125.0
Zapata County    TX                69.0  48505.0  0.0  48505.0  48505.0
Zavala County    TX                69.0  48507.0  0.0  48507.0  48507.0
Ziebach County   SD                69.0  46137.0  0.0  46137.0  46137.0

                                                       state_fips        ...  \
                                 50%      75%      max      count  mean  ...
county_name      state_name                                              ...
Abbeville County SC          45001.0  45001.0  45001.0       69.0  45.0  ...
Acadia Parish    LA          22001.0  22001.0  22001.0       69.0  22.0  ...
Accomack County  VA          51001.0  51001.0  51001.0       69.0  51.0  ...
Ada County       ID          16001.0  16001.0  16001.0       69.0  16.0  ...
Adair County     IA          19001.0  19001.0  19001.0       69.0  19.0  ...
...                              ...      ...      ...        ...   ...  ...
Yuma County      AZ           4027.0   4027.0   4027.0       69.0   4.0  ...
                 CO           8125.0   8125.0   8125.0       69.0   8.0  ...
Zapata County    TX          48505.0  48505.0  48505.0       69.0  48.0  ...
Zavala County    TX          48507.0  48507.0  48507.0       69.0  48.0  ...
Ziebach County   SD          46137.0  46137.0  46137.0       69.0  46.0  ...

                                   lat             long              \
                                   75%        max count        mean
county_name      state_name
Abbeville County SC          34.223334  34.223334  69.0  -82.461707
Acadia Parish    LA          30.295065  30.295065  69.0  -92.414197
Accomack County  VA          37.767072  37.767072  69.0  -75.632346
Ada County       ID          43.452658  43.452658  69.0 -116.241552
Adair County     IA          41.330756  41.330756  69.0  -94.471059
...                                ...        ...   ...         ...
Yuma County      AZ          32.768957  32.768957  69.0 -113.906667
                 CO          40.003468  40.003468  69.0 -102.425867
Zapata County    TX          27.001564  27.001564  69.0  -99.169872
Zavala County    TX          28.866172  28.866172  69.0  -99.760508
Ziebach County   SD          44.978819  44.978819  69.0 -101.665462

                                                                               \
                                      std         min         25%         50%
county_name      state_name
Abbeville County SC          1.431496e-14  -82.461707  -82.461707  -82.461707
Acadia Parish    LA          2.862993e-14  -92.414197  -92.414197  -92.414197
Accomack County  VA          2.862993e-14  -75.632346  -75.632346  -75.632346
Ada County       ID          1.431496e-14 -116.241552 -116.241552 -116.241552
Adair County     IA          2.862993e-14  -94.471059  -94.471059  -94.471059
...                                   ...         ...         ...         ...
Yuma County      AZ          1.431496e-14 -113.906667 -113.906667 -113.906667
                 CO          0.000000e+00 -102.425867 -102.425867 -102.425867
Zapata County    TX          0.000000e+00  -99.169872  -99.169872  -99.169872
Zavala County    TX          1.431496e-14  -99.760508  -99.760508  -99.760508
Ziebach County   SD          2.862993e-14 -101.665462 -101.665462 -101.665462


                                    75%         max
county_name      state_name
Abbeville County SC          -82.461707  -82.461707
Acadia Parish    LA          -92.414197  -92.414197
Accomack County  VA          -75.632346  -75.632346
Ada County       ID         -116.241552 -116.241552
Adair County     IA          -94.471059  -94.471059
...                                 ...         ...
Yuma County      AZ         -113.906667 -113.906667
                 CO         -102.425867 -102.425867
Zapata County    TX          -99.169872  -99.169872
Zavala County    TX          -99.760508  -99.760508
Ziebach County   SD         -101.665462 -101.665462

[3195 rows x 40 columns]

In [5]:
# load the deaths data
file_deaths = "/Users/mduby/Data/Kaggle/Roche/USAFacts/confirmed-covid-19-deaths-in-us-by-state-and-county.csv"

# load the data frame
df_death = pd.read_csv(file_cases)

df_death.head()

,county_fips,county_name,state_name,state_fips,date,confirmed,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN

In [7]:
# describe the death data
df_death.describe()

,county_fips,state_fips,confirmed,lat,long
count,220455.000000,220455.000000,220455.000000,216798.000000,216798.000000
mean,29882.220970,30.250391,4.116817,38.455613,-92.268406
std,15522.084821,15.157649,103.645501,5.307126,12.860440
min,0.000000,1.000000,0.000000,19.601212,-164.035380
25%,18097.000000,18.000000,0.000000,34.693167,-98.238509
50%,29123.000000,29.000000,0.000000,38.378924,-90.400244
75%,45055.000000,45.000000,0.000000,41.809386,-83.436796
max,56045.000000,56.000000,12756.000000,69.314792,-67.628135