In [2]:
# imports
import pandas as pd

In [7]:
# load the US covid19 file
file_location = "/Users/mduby/Data/Kaggle/Covid19/20200424/usa_county_wise.csv"
covid_df = pd.read_csv(file_location)

In [8]:
# describe the data
covid_df.describe()

,UID,code3,FIPS,Lat,Long_,Confirmed,Deaths
count,3.032730e+05,303366.000000,302436.000000,303273.000000,303273.000000,303366.000000,303366.000000
mean,8.390341e+07,839.445739,32108.751845,37.165903,-89.160375,45.114347,1.915772
std,3.287964e+06,18.063460,17848.651408,8.661141,21.543770,1052.562032,84.145464
min,1.600000e+01,16.000000,60.000000,-14.271000,-170.132000,0.000000,0.000000
25%,8.401904e+07,840.000000,19038.500000,34.237321,-98.066628,0.000000,0.000000
50%,8.403006e+07,840.000000,30046.000000,38.149014,-89.827411,0.000000,0.000000
75%,8.404702e+07,840.000000,47011.500000,41.683301,-82.793570,1.000000,0.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,147297.000000,16388.000000

In [9]:
# get the info
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303366 entries, 0 to 303365
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UID             303273 non-null  float64
 1   iso2            303366 non-null  object
 2   iso3            303366 non-null  object
 3   code3           303366 non-null  int64
 4   FIPS            302436 non-null  float64
 5   Admin2          302715 non-null  object
 6   Province_State  303366 non-null  object
 7   Country_Region  303366 non-null  object
 8   Lat             303273 non-null  float64
 9   Long_           303273 non-null  float64
 10  Combined_Key    303366 non-null  object
 11  Date            303366 non-null  object
 12  Confirmed       303366 non-null  int64
 13  Deaths          303366 non-null  int64
dtypes: float64(4), int64(3), object(7)
memory usage: 32.4+ MB

In [10]:
# head the data
covid_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16.0,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/20,0,0
1,316.0,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/20,0,0
2,580.0,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/20,0,0
3,630.0,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/20,0,0
4,850.0,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/20,0,0

In [17]:
# get the unique counties
county_array = pd.unique(covid_df['Province_State'])

print("the counties array of tye {} are {}".format(type(county_array), county_array))

the counties array of tye <class 'numpy.ndarray'> are ['American Samoa' 'Guam' 'Northern Mariana Islands' 'Puerto Rico'
 'Virgin Islands' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming'
 'Diamond Princess' 'Grand Princess']

In [16]:
# get the min and max of dats
max_date = covid_df['Date'].max()
min_date = covid_df['Date'].min()

# print
print("The min date is {} and max date is {}".format(min_date, max_date))

The min date is 1/22/20 and max date is 4/9/20

In [19]:
# get the date array
date_array = pd.unique(covid_df['Date'])

# print
print("the dates are: {}".format(date_array))

the dates are: ['1/22/20' '1/23/20' '1/24/20' '1/25/20' '1/26/20' '1/27/20' '1/28/20'
 '1/29/20' '1/30/20' '1/31/20' '2/1/20' '2/2/20' '2/3/20' '2/4/20'
 '2/5/20' '2/6/20' '2/7/20' '2/8/20' '2/9/20' '2/10/20' '2/11/20'
 '2/12/20' '2/13/20' '2/14/20' '2/15/20' '2/16/20' '2/17/20' '2/18/20'
 '2/19/20' '2/20/20' '2/21/20' '2/22/20' '2/23/20' '2/24/20' '2/25/20'
 '2/26/20' '2/27/20' '2/28/20' '2/29/20' '3/1/20' '3/2/20' '3/3/20'
 '3/4/20' '3/5/20' '3/6/20' '3/7/20' '3/8/20' '3/9/20' '3/10/20' '3/11/20'
 '3/12/20' '3/13/20' '3/14/20' '3/15/20' '3/16/20' '3/17/20' '3/18/20'
 '3/19/20' '3/20/20' '3/21/20' '3/22/20' '3/23/20' '3/24/20' '3/25/20'
 '3/26/20' '3/27/20' '3/28/20' '3/29/20' '3/30/20' '3/31/20' '4/1/20'
 '4/2/20' '4/3/20' '4/4/20' '4/5/20' '4/6/20' '4/7/20' '4/8/20' '4/9/20'
 '4/10/20' '4/11/20' '4/12/20' '4/13/20' '4/14/20' '4/15/20' '4/16/20'
 '4/17/20' '4/18/20' '4/19/20' '4/20/20' '4/21/20' '4/22/20' '4/23/20']

In [ ]:
# get individual state data